section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.carousel-control-next-icon {
    background-image: url(./img/next.svg);
}
.carousel-control-prev-icon {
    background-image: url(./img/left-arrow.svg);
}
.carousel-control-next,
.carousel-control-prev {
    width: 20px;

}
.carousel-control-next {
    right: -35px;
}
.carousel-control-prev {
    left: -35px;
}